body {
  padding: 0;
  background-color: #ffeb3b;
}

#dog-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 0;
}

#dog-animation .z-letter {
  transform-origin: top left;
  transform: scale(1) translate(24px, 6px);
  opacity: 0;
  animation: zTransition 3s infinite 0s linear;
}

#dog-animation .z-letter1 {
  animation-delay: 0s;
}

#dog-animation .z-letter2 {
  animation-delay: 1s;
}

#dog-animation .z-letter3 {
  animation-delay: 2s;
}

@keyframes zTransition {
  0% {
    transform: scale(1) translate(16px, 10px);
    opacity: 0;
  }
  5% {
    transform: scale(1) translate(20px, 4px);
    opacity: 0.4;
  }
  25% {
    transform: scale(1.2) translate(28px, -14px);
    opacity: 0.7;
  }
  70% {
    transform: scale(1.4) translate(2px, -40px);
    opacity: 1;
  }
  95% {
    transform: scale(1.1) translate(28px, -46px);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) translate(30px, -48px);
    opacity: 0;
  }
}
#titulo{
  text-align: center;
  margin-top:50px;
  font-size: 20px;
  color: rgb(9, 85, 151);
}
#subtitulo{
  text-align: center;
  margin-top:0px;
  font-size: 20px;
  color: rgb(8, 8, 8);
}
